.about {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  &__background {
    width: 960px;
    height: 733px;
    img {
      width: 100%;
      filter: grayscale(1);
    }
  }
  &__content {
    width: 505px;
    margin-top: 200px;
    margin-right: 250px;
    &__title {
      color: #ffffff;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__descr {
      margin-top: 28px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }
    &__btn {
      margin-top: 33px;
      width: 200px;
      height: 60px;
      color: white;
      background-color: #121212;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      border: 2px solid white;
      transition: 0.4s;
      &:hover {
        color: #121212;
        background-color: #fff;
      }
    }
  }
}
