.prices {
  padding: 137px 0;
  background-color: #121212;
  &__title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  &__blocks {
    display: flex;
  }
  &-block {
    width: 391px;
    height: 560px;
    border: 2px solid #efefef;
    margin-top: 79px;
    padding: 57px 31px 48px 31px;
    border-radius: 15px;
    &:nth-child(1) {
      border-right: none;
    }
    &:nth-child(3) {
      border-left: none;
    }
    &__title {
      text-transform: uppercase;
      color: #787878;
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      &_mod {
        color: #121212;
      }
    }
    &__value {
      margin-top: 30px;
      text-align: center;
      &__title {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        &_mod {
          color: #121212;
        }
      }
      &__descr {
        color: #787878;
        font-weight: 300;
        font-size: 30px;
      }
    }
    &__privileges {
      margin-top: 33px;
      &-hr {
        background-color: #787878;
        border-bottom: 0;
      }
      &-item {
        color: #787878;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        margin: 16px 0;
      }
      &_mod {
        margin-top: 55px;
      }
    }
    &__btn {
      display: block;
      margin: 40px auto;
      width: 180px;
      height: 60px;
      color: white;
      background-color: #121212;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      border: 2px solid white;
      transition: 0.4s;
      text-transform: uppercase;
      &:hover {
        color: #121212;
        background-color: #fff;
      }
      &_mod {
        margin-top: 75px;
        &:hover {
          border: 2px solid #121212;
        }
      }
    }
    &_mod {
      height: 650px;
      margin-top: 39px;
      background-color: #fff;
    }
  }
}
